@media (max-width: 638px) {
}
/* end small mobile */

@media (min-width: 639px) {
}
/* end big mobile */

@media (min-width: 767px) {
}
/* end tablet */

@media (min-width: 1023px) {
  .nav-left-icons li,
  .nav-left-icons i {
    font-size: 13px;
  }
  .nav-right{
    border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    -ms-border-radius: 50px 0 0 50px;
    -o-border-radius: 50px 0 0 50px;
}
.account:hover .account-desktop{
    display: block !important;
}
}

/* end desktop */

@media (min-width: 1279px) {
}

/* end big */

@media screen and (min-width: 1535px) {
}
/* end big */
