@tailwind base;
@tailwind components;
@tailwind utilities;
/* ************************************************ */
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* ************************* */
@layer base {
  body {
    font-family: "Vazirmatn", sans-serif;
    user-select: none;
  }
  .w-fill {
    width: -webkit-fill-available;
  }
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.rtl {
  direction: rtl;
}
.bg-yellow {
  background-color: #ffcc00;
}
.self-yellow {
  color: #ffcc00;
}
.nav-left i {
  font-size: 20px;
}
.fz-18 {
  font-size: 18px;
  font-weight: 900;
}
.container-manual {
  max-width: 1100px;
}
.nav-left li {
  cursor: pointer;
}
.menu-open {
  height: 0;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  overflow: hidden;
}
.menu-open li:first-child {
  border: 1px solid rgba(255, 255, 255, 0.24);
}
.account-desktop {
  background: #000000;
  top: 20px;
  left: -26px;
  overflow: hidden;
  border-radius: 10px;
  display: none !important;
  z-index: 1000;
}
.account-desktop:hover {
  visibility: visible;
  display: block;
}
.account-desktop > li {
  width: 210px;
}
.account-desktop > li:hover {
  background-color: rgba(255, 255, 255, 0.329);
}
.account-desktop > li:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}
.nav-right figure {
  width: 80px;
  height: 44px;
}
.nav-right figure > img {
  width: 100%;
  height: 100%;
}
.search {
  background: none;
  outline: none;
  padding-left: 10px;
  text-align: right;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.search ~ i {
  position: absolute;
  left: 10px;
  top: 3px;
}
.form-menu:hover .search {
  border: 1px solid rgba(0, 0, 0, 0.329);
}
.form-menu > input[type="search"]:focus {
  border: 1px solid rgba(0, 0, 0, 0.329);
}
.hamburger-menu {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}
.submenu-container {
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  position: relative;
  overflow: hidden;
}
.submenu {
  background-color: #1d1d1d;
}
.submenu li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.459);
}
.submenu li > a {
  color: white;
  font-size: 19px;
  font-weight: bold;
  padding: 9px;
}
.submenu-one {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

/* it is for specify that which ul is active */
.come-in {
  cursor: auto;
}

.desktop-menu {
  font-size: 15px;
  font-weight: 600;
}
.desktop-menu > li > a {
  display: flex;
  padding: 10px 0;
  /* background-color: red; */
}
.desktop-menu > li > a > i {
  display: inline-flex;
  /* background-color: red; */
}

.desktop-submenu,
.desktop-submenu-one {
  position: relative;
}
.desktop-submenu-items,
.desktop-submenu-items-one {
  position: absolute;
  top: 39px;
  right: 0;
  background-color: #1d1d1d;
  border-radius: 8px;
  display: none;
  z-index: 1000;
}
.desktop-submenu-items > ul > li:not(:last-child),
.desktop-submenu-items-one > ul > li:not(:last-child) {
  border-bottom: 1px solid white;
  min-width: 250px;
}
.desktop-submenu-items > ul > li > a,
.desktop-submenu-items-one > ul > li > a {
  display: flex;
  color: white;
  padding: 12px;
  text-align: right;
  word-break: break-all;
}
.desktop-submenu-items > ul > li > a > i,
.desktop-submenu-items-one > ul > li > a > i {
  display: inline-flex;
}
.desktop-submenu:hover .desktop-submenu-items,
.desktop-submenu-one:hover .desktop-submenu-items-one {
  display: block;
}
.desktop-submenu-items:hover,
.desktop-submenu-items-one:hover {
  display: block;
  visibility: visible;
}
.desktop-submenu-items > ul > li:hover,
.desktop-submenu-items-one > ul > li:hover {
  background-color: rgba(255, 255, 255, 0.329);
}
.desktop-submenu-items-one {
  top: 5px;
  right: 100%;
  display: none;
}
/* ********************** */
.slider-container {
  position: relative;
  min-height: 200px;
  display: flex;
}
.slider-container .swiper{
  height: auto;
}
.slider-container .swiper-slide {
  position: relative;
}
.slider-container .swiper-slide::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.11);
}
.slider-container figure {
  width: 100%;
  height: 100%;
  user-select: none;
}
.slider-container figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-container .swiper-pagination {
  z-index: 20;
  top: 10px !important;
  left: 10px !important;
  height: fit-content;
  width: fit-content !important;
}
.slider-container .swiper-pagination span {
  border: 1px solid gray;
  width: 12px;
  height: 12px;
}
.slider-container .swiper-button-prev,
.slider-container .swiper-button-next,
.accordion .swiper-button-prev,
.accordion .swiper-button-next,
.irancell-social-media-wrapper
  .irancell-social-media-bottom
  .swiper-button-next,
.irancell-social-media-wrapper
  .irancell-social-media-bottom
  .swiper-button-prev {
  color: rgba(255, 255, 255, 0.418);
  background-color: rgba(0, 0, 0, 0.452);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  box-shadow: 0px 0px 5px gray;
  z-index: 20;
}

.slider-container .swiper-button-prev::after,
.slider-container .swiper-button-next::after,
.accordion .swiper-button-prev::after,
.irancell-social-media-wrapper
.irancell-social-media-bottom
.swiper-button-prev::after,
.irancell-social-media-wrapper
.irancell-social-media-bottom
.swiper-button-next::after {
  font-size: 16px;
}

/* ***************** */
.banner-one-information,
.banner-two-information,
.banner-three-information,
.banner-four-information,
.banner-five-information,
.banner-six-information,
.banner-seven-information {
  position: absolute;
  right: 12%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 500 !important;
}
.banner-two-information {
  right: 10%;
  width: 185px;
}
.banner-one-information p,
.banner-two-information p,
.banner-three-information p,
.banner-four-information p,
.banner-five-information p,
.banner-six-information p,
.banner-seven-information p {
  text-align: center;
  font-weight: 900;
  font-size: 11px;
  color: white;
}
.banner-five-information p {
  color: black;
  font-weight: 900;
}
/* .banner-five-information p:nth-of-type(1) {
  font-weight: 900;
} */
.banner-two-information p {
  font-size: 15px;
  color: black;
}
.banner-seven-information p:nth-of-type(2) {
  font-size: 8px;
}
.banner-three-information p,
.banner-six-information p,
.banner-seven-information p {
  color: black;
}
.banner-one-information p:nth-of-type(2) {
  font-weight: 500;
  /* margin-top: 15px; */
}

.banner-one-information button,
.banner-two-information button,
.banner-three-information button,
.banner-four-information button,
.banner-five-information button,
.banner-six-information button,
.banner-seven-information button {
  background-color: #ffcc00;
  width: 100px;
  height: 27px;
  text-align: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 800;
}
.banner-two-information button,
.banner-three-information button,
.banner-five-information button,
.banner-seven-information button {
  background-color: white;
}
.wave,
.wave1 {
  position: absolute;
  z-index: 20;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 30px;
}
/* ***************************************** */
.news {
  padding: 0 10px;
}
.news-container {
  position: relative;
  z-index: 30;
  margin-top: -12px;
}
.news-container > section > div {
  box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.16);
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.news-container > section > div:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.news-container > section > div:hover div:nth-of-type(1) {
  border: 1px solid #ffcc00;
}
.news-container > section > div:hover p {
  color: #ffcc00;
}
.news-container > section > div > div:nth-of-type(1) {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid rgba(128, 128, 128, 0.219);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.news-container > section > div > div:nth-of-type(1) > figure {
  width: 90%;
  height: 90%;
}
.news-container > section > div > div:nth-of-type(1) > figure > img {
  width: 100%;
  height: 100%;
}
.news-container p {
  text-align: right;
  padding-right: 5px;
  color: black;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.latests-slider .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.latests-slider .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 363.33px;
  height: 272.48px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
  position: relative;
  user-select: none;
}
.latests-slider .swiper-slide::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  z-index: 5;
}
.latests-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.latests-slider .swiper-slide figcaption {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: white;
  z-index: 10;
  text-align: right;
  padding: 18px 13px;
  font-size: 17px;
}
/* ************************************************** */
.application-tabs-items section {
  width: -webkit-fill-available;
  height: 48px;
  transition: 0.2s ease;
  position: relative;
  z-index: 50;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  overflow: hidden;
  margin-left: 8px;
}
.application-tabs-items section:hover {
  height: 100px;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background-color: #504f4f;
  border-radius: 10px;
  margin-top: 25px;
}
.active-app-items {
  height: 100px !important;
  transform: scale(1.1) !important;
  -webkit-transform: scale(1.1) !important;
  -moz-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  -o-transform: scale(1.1) !important;
  background-color: #504f4f;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 25px;
}
.application-tabs-items section > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.application-tabs-items-wrapper {
  height: 96px;
  background-color: #252525;
}
.application-tabs-items div > p {
  opacity: 0;
  height: 0;
  color: #b7baba;
  font-weight: 800;
  line-height: 20px;
  font-size: 10px;
  text-align: center;
  padding: 0 1px;
  white-space: break-spaces;
}
.application-tabs-items section:hover p {
  opacity: 1;
  height: fit-content;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.ssp {
  opacity: 1 !important;
  height: fit-content !important;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.application-tabs-items div > figure {
  user-select: none;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.application-tabs-items div > figure > img {
  width: 100%;
  height: 100%;
}
.nav-items-1:hover figure > img {
  content: url("https://irancell.ir/wp-content/uploads/2023/01/My-Irancell-FA-1.svg");
}
.nav-items-2:hover figure > img {
  content: url("https://irancell.ir/wp-content/uploads/2022/03/Lenz-Active.svg");
}
.nav-items-3:hover figure > img {
  content: url("https://irancell.ir/wp-content/uploads/2022/03/DanaPlus-Active.svg");
}
.nav-items-4:hover figure > img {
  content: url("https://irancell.ir/wp-content/uploads/2022/08/JibJet-FA-color.svg");
}
.nav-items-5:hover figure > img {
  content: url("https://irancell.ir/wp-content/uploads/2022/03/Pishvaz-Active.svg");
}
.nav-items-6:hover figure > img {
  content: url("https://irancell.ir/wp-content/uploads/2022/03/Charkhoneh-Active.svg");
}
.nav-items-7:hover figure > img {
  content: url("https://irancell.ir/wp-content/uploads/2022/11/Colorful-2.svg");
}
.nav-items-8:hover figure > img {
  content: url("https://irancell.ir/wp-content/uploads/2022/12/Academy-logo-011.svg");
}
/* ****************************************************************** */
.application-tabs-slider {
  width: 100%;
  background-color: white;
  position: relative;
  overflow: hidden;
}
.application-tabs-slider > div {
  width: 100%;
  overflow: hidden;
  display: none;
}
.right-to-left {
  animation: anime1 1s alternate forwards;
  -webkit-animation: anime1 1s alternate forwards;
  display: block !important;
}
@keyframes anime1 {
  from {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
.left-to-right {
  animation: anime2 1s alternate forwards;
  -webkit-animation: anime2 1s alternate forwards;
  display: block !important;
}
@keyframes anime2 {
  from {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
.pointer-none {
  pointer-events: none;
}
.first-comein-slider {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  opacity: 1 !important;
  display: block !important;
}
.application-tabs-slider #irancell,
.application-tabs-slider #learning {
  background-color: #7f7f7f;
}
.application-tabs-slider h3 {
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.application-tabs-slider p {
  font-size: 14px;
  color: white;
  letter-spacing: 3px;
  font-weight: 400;
}
.application-tabs-slider span {
  font-size: 17px;
  color: #ffcc00;
  font-weight: 600;
}
.application-tabs-slider button {
  border-radius: 50px;
  padding: 10px;
}
/* ************************** */
.application-tabs-slider #lenz {
  background-color: #dd3333;
}
.application-tabs-slider #dana-plus {
  background-color: #1dd8b0;
}
.application-tabs-slider #jib-jet {
  background-color: #121006;
}
.application-tabs-slider #pishvaz-music {
  background-color: #2fabcc;
}
.application-tabs-slider #charkhooneh {
  background-color: #2d2e83;
}
.application-tabs-slider #kids-teenager {
  background-color: #d1c0a9;
}
/* ********************************************************** */
.accordion div {
  cursor: pointer;
}
.accordion section.slider-wrapper {
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.shopping-details figure {
  width: 42px;
  height: 42px;
  border: 1px solid rgba(128, 128, 128, 0.219);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopping-details figure > img {
  width: 90%;
  height: 90%;
}
.shopping-details p {
  color: #7f7f7f;
  font-size: 20px;
  font-weight: 900;
  margin-right: 5px;
}
.shopping-details i {
  font-size: 20px;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}
.accordion .swiper {
  max-width: 90%;
  min-height: 340px;
  padding: 0px;
  display: flex;
}
.accordion .swiper > .swiper-wrapper{
  height: auto;
}

.accordion .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.accordion .swiper-slide img {
  display: block;
  width: 100%;
}
/* ********************************************** */
.accordion h3 {
  font-size: 15px;
  font-weight: 200;
}
.accordion .slider-wrapper .slider-items {
  height: 100%;
}
.accordion .slider-wrapper .slider-items figure {
  width: 48px;
  height: 48px;
}
.accordion .slider-wrapper .slider-items figure > img {
  width: 100%;
  height: 100%;
}
.accordion .slider-wrapper .slider-items h2 {
  font-size: 18px;
}
.accordion .slider-wrapper .slider-items ul > li,
.shopping-desktop-wrapper .shopping-desktop-left .items ul > li {
  position: relative;
  padding-right: 16px;
  font-weight: 300;
  text-align: right;
  font-size: 16px;
}
.accordion .slider-wrapper .slider-items ul > li::before,
.shopping-desktop-wrapper .shopping-desktop-left .items ul > li::before {
  position: absolute;
  content: "";
  top: 9px;
  right: 0px;
  width: 8px;
  height: 8px;
  background-color: #7f7f7f;
  border-radius: 50%;
}
.accordion .slider-wrapper .slider-items button,
.shopping-desktop-wrapper .shopping-desktop-left .items button {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 10px;
}
.irancell-social-media-wrapper .irancell-social-media-top button {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 15px 23px;
  font-size: 19px;
}
/* *************************************************** */
.shopping-desktop-wrapper .shopping-desktop-right {
  cursor: pointer;
}
.shopping-desktop-wrapper .shopping-desktop-right > div {
  cursor: pointer;
}
.shopping-desktop-wrapper .shopping-desktop-left > section {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.shopping-desktop-wrapper .shopping-desktop-left > section:nth-of-type(2),
.shopping-desktop-wrapper .shopping-desktop-left > section:nth-of-type(3) {
  opacity: 0;
}
.shopping-desktop-wrapper .shopping-desktop-left h2 {
  text-align: right;
  color: #504f4f;
  font-size: 17px;
  font-weight: 400;
}
.shopping-desktop-wrapper .shopping-desktop-left .items {
  width: 220px;
  min-height: 449px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}
.shopping-desktop-wrapper .shopping-desktop-left .items figure {
  width: 48px;
  height: 48px;
}
.shopping-desktop-wrapper .shopping-desktop-left .items figure > img {
  width: 100%;
  height: 100%;
}
.shopping-desktop-wrapper .shopping-desktop-left .items h3 {
  text-align: right;
  color: rgba(0, 0, 0, 0.884);
  font-size: 17px;
  font-weight: 800;
}
.shopping-desktop-wrapper .shopping-desktop-left .items ul > li {
  margin-top: 12px;
}
/* ****************************************************** */
.shopping-desktop-wrapper .shopping-desktop-right figure {
  width: 42px;
  height: 42px;
  border: 1px solid #ffcc00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.shopping-desktop-wrapper .shopping-desktop-right figure > img {
  width: 90%;
  height: 90%;
}
.shopping-desktop-wrapper .shopping-desktop-right p {
  font-size: 16px;
  font-weight: 900;
  color: #7f7f7f;
  text-align: right;
}
.shopping-desktop-wrapper .shopping-desktop-right > div:nth-of-type(1) p {
  color: black;
}
/* **********************irancell social media section****************************************** */
.irancell-social-media-container {
  width: 100%;
  /* height: 100vh; */
  background-color: #f2f2f2;
  position: relative;
}
.wave2 {
  width: 100%;
  height: 30px;
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 20;
}
.irancell-social-media-wrapper .irancell-social-media-top figure {
  width: 150px;
  height: 150px;
}
.irancell-social-media-wrapper .irancell-social-media-top figure > img {
  width: 100%;
  height: 100%;
}
.irancell-social-media-wrapper .irancell-social-media-top h3 {
  color: #4c4c4c;
  font-weight: 600;
}
.irancell-social-media-wrapper .irancell-social-media-top p {
  color: #504f4f;
  font-weight: 300;
  font-size: 19px;
}
/* ********** */
.irancell-social-media-wrapper .irancell-social-media-bottom .swiper {
  max-width: 516px;
  max-height: 516px;
}
.irancell-social-media-wrapper .irancell-social-media-bottom .swiper figure {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
}

.irancell-social-media-wrapper
  .irancell-social-media-bottom
  .swiper
  figure
  > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ************************** */
.irancell-social-media-bottom > div:nth-of-type(2) {
  max-width: 1024px;
  grid-template-columns: 50% 50%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  gap: 10px;
}
.irancell-social-media-wrapper
  .irancell-social-media-bottom
  .irancell-social-media-bottom-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.irancell-social-media-wrapper
  .irancell-social-media-bottom
  .irancell-social-media-bottom-left
  > div {
  overflow: hidden;
}
.irancell-social-media-bottom > div:nth-of-type(2) div {
  position: relative;
}
.irancell-social-media-bottom > div:nth-of-type(2) div div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.671);
  padding: 5px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
}
.irancell-social-media-bottom > div:nth-of-type(2) div p {
  color: white;
  font-size: 16px;
  text-align: center;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  padding: 0px 10px;
  margin-top: 50%;
  transform: translateY(-50%);
}
.irancell-social-media-bottom > div:nth-of-type(2) div:hover div {
  opacity: 1;
  visibility: visible;
}
/* ************************************************************** */
.footer-nav-container {
  background-color: #1d1d1d;
  position: relative;
  padding: 0 20px 50px 20px;
}
.footer-accordion-wrapper p,
span {
  font-weight: 800;
}
.mtn-accordion-toggle-bar {
  width: 15px;
  height: 2px;
  background-color: white;
  position: relative;
}
.mtn-accordion-toggle-bar span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform-origin: center;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.footer-accordion-wrapper > ul > li {
  cursor: pointer;
}
.footer-accordion-wrapper > ul > li > div {
  border-bottom: 1px solid #6a6b6b;
}
.footer-accordion-items li {
  text-align: right;
  color: #b7baba;
  line-height: 40px;
  font-size: 15px;
  cursor: pointer;
}
.footer-accordion .footer-accordion-wrapper .footer-accordion-items {
  overflow: hidden;
  height: 0;
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
/* **************************************************** */
.footer-desktop-wrapper h2 {
  font-weight: 800;
  font-size: 17px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  cursor: pointer;
}
.footer-desktop-wrapper .footer-nav-items li {
  line-height: 2rem;
  font-size: 15px;
  font-weight: 300;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  cursor: pointer;
}
.footer-desktop-wrapper .footer-nav-items li:hover,
.footer-desktop-wrapper h2:hover {
  color: #b7baba;
}
/* *************************************************************** */
.main-footer-container {
  position: relative;
  background-color: #e5e5e5;
}
.main-footer-container .main-footer-tab-one p {
  color: #252525;
  line-height: 30px;
  font-weight: 300;
}
.main-footer-container .main-footer-tab-one i {
  color: #252525;
  font-size: 22px;
}
.main-footer-container .main-footer-tab-two input{
  background-color: #E5E5E5;
  border: 2px solid black;
  color: #6a6b6b;
}
.main-footer-container .main-footer-tab-three figure{
  width: 125px;
  height: 127px;
}
.main-footer-container .main-footer-tab-three figure>img{
  width: 100%;
  height: 100%;
}
.main-footer-container .main-footer-tab-three h3{
  color: #252525;
  font-weight: 400;
}
