@tailwind base;
@tailwind components;
@tailwind utilities;
/* ************************************************ */
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* ************************* */
@layer base{
    body{
        font-family: 'Vazirmatn', sans-serif;
    }
}
.bg-yellow{
    background-color: #FFCC00;
}
.self-yellow{
    color: #FFCC00;
}
.nav-left i{
    font-size: 20px;
}
.nav-left li{
    cursor: pointer;
}
.menu-open{
    height: 0;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    overflow: hidden;
}
.menu-open li:first-child{
    border: 1px solid rgba(255, 255, 255, 0.24);
}
.account-desktop{
    background: #000000;
    top: 20px;
    left: -26px;
    overflow: hidden;
    border-radius: 10px;
    display: none !important;
}
.account-desktop:hover{
    visibility: visible;
    display: block;
}
.account-desktop>li{
    width: 210px;
}
.account-desktop>li:hover{
    background-color: rgba(255, 255, 255, 0.329);
}
.account-desktop>li:first-child{
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);;
}
.nav-right figure{
    width: 80px;
    height: 44px;
}
.nav-right figure>img{
    width: 100%;
    height: 100%;
}
.search{
    background: none;
    outline: none;
    padding-left: 10px;
    text-align: right;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.search ~ i{
    position: absolute;
    left: 10px;
    top: 3px;
}
.form-menu:hover .search{
     border: 1px solid rgba(0, 0, 0, 0.329);
}
.form-menu>input[type="search"]:focus{
    border: 1px solid rgba(0, 0, 0, 0.329);
}
.hamburger-menu{
    font-size: 30px;
    cursor: pointer;
    user-select: none;
}
.submenu-container{
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    position: relative;
}
.submenu{
    background-color: #1D1D1D;
}
.submenu li:not(:last-child){
    border-bottom: 1px solid rgba(255, 255, 255, 0.459);
}
.submenu li>a{
    color: white;
    font-size: 19px;
    font-weight: bold;
    padding: 9px;
}
.submenu-one{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
}

/* it is for specify that which ul is active */
.come-in{
    cursor: auto;
}

.yes{
    overflow-y: scroll;
}
.desktop-menu{
    font-size: 15px;
    font-weight: 600;
}
